
body {
  background: #000;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height: 100vh;
}
.ytp-watermark.yt-uix-sessionlink, .ytp-watermark.yt-uix-sessionlink:hover, .html5-video-player a:hover{
  display: none;
  opacity: 0 !important;
}
:not(.ytp-mweb-player) .ytp-watermark:not(.ytp-no-hover):not(.ytp-muted-autoplay-watermark):hover{
  display: none;
  opacity: 0 !important;
}
